/Demo/build/
/Demo/nbproject/private/
/Jsp-ex1.1-GetStarted/build/
/Jsp-ex1.1-GetStarted/nbproject/private/
/Jsp-ex1.2-ScriptletTag/build/
/Jsp-ex1.2-ScriptletTag/nbproject/private/
/Servlet-ex1-GetStarted/nbproject/private/
/Servlet-ex1-GetStarted/build/
/Expression Language/WebApplication1/nbproject/private/
/Expression Language/WebApplication1/build/
/Expression Language/WebApplication2/nbproject/private/
/Expression Language/WebApplication2/build/
/Expression Language/Chapter-3-EL-Page99/nbproject/private/
/Expression Language/Chapter-3-EL-Page99/build/
/Expression Language/Chapter-3-EL-Page101/nbproject/private/
/Expression Language/Chapter-3-EL-Page101/build/
/Expression Language/Chapter-3-EL-Page102/nbproject/private/
/Expression Language/Chapter-3-EL-Page102/build/
/Expression Language/Chapter-3-EL-Page104/nbproject/private/
/JSTL/JstlInstallation/nbproject/private/
/JSTL/JstlInstallation/build/
/JSTL/JSTL-CRUD/nbproject/private/
/JSTL/Chapter-4/nbproject/private/
/JSTL/Chapter-4/build/